@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

.home {
}

.body {
  background-image: url('./headphones1.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: fixed;
  height:100%;
  width:100%;
  padding: 15px;
  margin-left: -15px;
}

.title {
text-align: center;
font-family: 'Baloo Chettan', cursive;
font-size: 105px;
color: white;
margin-top: 175px;
text-shadow: 2px 2px 4px #000000;
}
