@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

.navbar {
  margin-bottom: -33px;
  text-shadow: 2px 2px 4px #000000;
}

.navlinks {
  display: grid;
  grid-template-columns: 49% 4% 6% 8% 5% 6%;
  grid-column-gap: 3%;
  font-size: 15px;
  width: 101%;
  height: 21%;
  background-color: #3a01a3;
  padding-top: 3%;
  margin-right: -69%;
  padding-bottom: 2%;
  color: white;
  font-family: 'Baloo Chettan', cursive;
}

a.navlinks {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.logo {
  margin-left: 10%;
  list-style-type: none;
  font-size: 40px;
  font-family: 'Baloo Chettan', cursive;
  margin-top: -2%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* transform: rotateY(180deg); */
}

.r{
  transform: rotateY(180deg);
  margin-right: 589px;
  margin-top: -58px;
}

.home {
  text-decoration: none;
}

.allSongs {
  text-decoration: none;
}

.byPopularity {
  text-decoration: none;
}

.byGenre {
  text-decoration: none;
}

.profile {
  text-decoration: none;
}
