@import url('https://fonts.googleapis.com/css?family=Oswald');


.navbar {
  margin-bottom: -33px;
  text-shadow: 2px 2px 4px #000000;
}

.navlinks {
  display: grid;
  grid-template-columns: 49% 4% 6% 8% 5% 6%;
  grid-column-gap: 3%;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
  color: white;
  width: 101%;
  height: 21%;
  background-color: #3a01a3;
  padding-top: 2%;
  margin-right: -69%;

}

a.navlinks {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.logoLink {
  text-decoration: none;
}

.logo {
  margin-left: 10%;
  list-style-type: none;
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  margin-top: -3%;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.r{
  transform: rotateY(180deg);
  margin-right: 598px;
  margin-top: -60px;
}

.home {
  text-decoration: none;
}

.allSongs {
  text-decoration: none;
}

.byPopularity {
  text-decoration: none;
}

.byGenre {
  text-decoration: none;
}

.profile {
  text-decoration: none;
}
