@import url('https://fonts.googleapis.com/css?family=Karla');

.wholePop {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  padding-bottom: 4%;
  font-family: 'Karla', sans-serif;
}

.imgPopCont{
  grid-column: 1;
  grid-row: 2;
  margin-left: 30%;
}

.imagePop {
  width: 265px;
}

.infoPopCont{
  grid-column: 2;
  grid-row: 2;
  margin-top: 5%;
  margin-left: 20%;
  margin: 0%;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  background-color: rgba(231, 235, 78, 1);
}

.artistTitlePop {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  margin-top: 3%;
  margin-left: 3%
}

.artistPop {
  font-weight: 700;
}

.countPopCont {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  margin-top: 2%;
  margin-right: 5%;
}

.countPop {
  font-weight: 500;
  margin-left: 77%;
  margin-top: -8%;
}

.heartPopCont {
  margin-left: 450px;
  margin-top: -4%;
}

#toggle-pop-heart {
  position: absolute;
  left: -100vw;
  color: #aab8c2;
  font-size: 2em;
  cursor: pointer;
  align-self: center;
}

.toggle-pop-heart:checked + label {
  color: #e2264d;
}

.commentPopCont {
  grid-column: 2;
  grid-row: 3;
  list-style: none;
  margin-top: 10%;
}

.popHeader {
  margin-left: 33%;
  margin-top: 6%;
  font-family: 'Karla', sans-serif;
  font-weight: 100;
}
