.wholeSong {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  padding-bottom: 4%;
}

.formCont {

}

.inputCont {
  grid-column: 2;
  grid-row: 1;
  width: 240px;
  height: 29px;
  font-size: 17px;
  font-variant-caps: all-small-caps;
  margin-left: 596px;
  margin-top: 80px;
  margin-bottom: 53px;
}

.imgCont{
  grid-column: 1;
  grid-row: 2;
  margin-left: 30%;
}

.image {
  width: 265px;
}

.artistTitleCont {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
}

.countCont {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
}

.artist {
  font-weight: 700;
}

.count {
  font-weight: 700;
  margin-left: 40%;
}

.commentCont {
  grid-column: 2;
  grid-row: 3;
  list-style: none;
}
