@import url('https://fonts.googleapis.com/css?family=Karla');

.wholeSong {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 25% 25% 25% 25%;
  padding-bottom: 4%;
  font-family: 'Karla', sans-serif;
}

.skeletonCont {

}

.inputCont {
  grid-column: 2;
  grid-row: 1;
  width: 240px;
  height: 29px;
  font-size: 17px;
  font-variant-caps: all-small-caps;
  margin-left: 596px;
  margin-top: 80px;
  margin-bottom: 40px;
  padding-left: 1%;
}

.imgCont{
  grid-column: 1;
  grid-row: 2;
  margin-left: 30%;
}

.image {
  width: 265px;
}

.infoCont{
  grid-column: 2;
  grid-row: 2;
  margin-top: 5%;
  margin-left: 20%;
  margin: 0%;
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
  background-color: rgba(231, 235, 78, 1);
}

.artistTitleCont {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  margin-top: 3%;
  margin-left: 3%;
}

.artist {
  font-weight: 700;
}

.countCont {
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  margin-top: 2%;
  margin-right: 5%;
}

.count {
  font-weight: 500;
  margin-left: 77%;
  margin-top: -8%;
}

.heartCont {
  margin-left: 450px;
  margin-top: -4%;
}

#toggle-heart {
  position: absolute;
  left: -100vw;
  color: #aab8c2;
  font-size: 2em;
  cursor: pointer;
  align-self: center;
}

.toggle-heart:checked + label {
  color: #e2264d;
}

.commentCont {
  grid-column: 2;
  grid-row: 3;
  list-style: none;
  margin-top: 10%;
}
